.card {
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  width: 280px;
  color: white;
  box-shadow: 0 15px 30px rgba(0,0,0,.3);
  animation: pop .4s ease;
}

.card .temp {
  font-size: 42px;
  font-weight: bold;
  margin: 10px 0;
}

.card button {
  margin-top: 15px;
  background: gold;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
